body {
    background-color: #f8f9fa;
}
.custom-card {
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card-header {
    background-color: #007bff;
    color: white;
}

h6 {
    font-size: xx-small;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.copy-btn {
    margin-left: 10px;
}
